In [ ]:
# print the number less than 5
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
# for i, b in enumerate(a):
#   print(i,b)
for elmnt in a:
  if elmnt < 8:
    print(elmnt)

1
1
2
3
5

In [ ]:
# Write a Python program to sum all the items in a list
count= 0
for elmnt in range(0,len(a)):
  total=count+a[elmnt]
print(total)

89

In [ ]:
# Write a Python program to multiply all the items in a list
b = [2,3,4,1]
product = 1
for elmnt in b:
  # print(b[i]*b[i+1])
  # print(c)
  product = product * elmnt
print(product)

24

In [ ]:
# Write a Python program to add all the items in a list
b = [2,3,4,1]
count = 0
for elmnt in b:
  count = count+elmnt
print(count)

10

In [ ]:
# Write a Python program to add all the items in a list
b = [2,3,4,1]
count = 0
for elmnt in range(0,len(b)):
  count = count + b[elmnt]
print(count)

10

In [ ]:
# Write a Python program to multiply all the items in a list
b = [2,3,4,1]
product = 1
for elmnt in range(0,len(b)):
  product = product * b[elmnt]
print(product)

24

In [ ]:
# Write a Python program to get the largest number from a list.
b = [2,3,4,1]
first = b[0]

for elmt in range(0,len(b)):
  if b[elmt] > first:
    first = b[elmt]
print(first)

4

In [ ]:
# Write a Python program to get the smallest number from a list.
b = [2,3,4,1]
first = b[0]

for elmt in range(0, len(b)):
  if b[elmt] < first:
    first = b[elmt]
print(first)

1

In [6]:
# Write a Python program to count the number of strings from a given list of strings. 
# The string length is 2 or more and the first and last characters are the same. Go to the editor
# Sample List : ['abc', 'xyz', 'aba', '1221']
sample_list = ['abc', 'xyz', 'aba', '1221']
# print(len(sample_list))
count = 0
for elmt in sample_list:
  if isinstance(elmt,str):
    count = count+1




  # if elmt[0] == elmt[-1]:
  #   # print(elmt)
  #   count = count + 1

print(count)

4

In [ ]:
# Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. Go to the editor
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)

a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted(a, key=lambda x:x[-1])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [10]:
def dup(lst):
  new_list = []
  for item in lst:
    if item not in new_list:
      new_list.append(item)
  return new_list    

db = [1,1,2,3,4,4]  
dup(db)

[1, 2, 3, 4]

In [11]:
# Write a Python program to remove duplicates from a list.
db = [1,1,2,3,4,4]
for i, j in enumerate(db):
  # print(i, j)
  if db[i] == db[i+1]:
    del db[j]
print(db)

[1, 2, 3, 4]

In [ ]:
# Write a Python program to check if a list is empty or not.
db = [1,1,2,3,4,4]
if len(db) == 0:
  print("List is empty")
else:
  print("list is full")

list is full

In [ ]:
# Write a Python program to clone or copy a list.
d = [1,1,2,3,4,4]
d.copy()

[1, 1, 2, 3, 4, 4]

In [ ]:
db = [1, 1, 2, 3, 4, 4]
new_db = []

for i in db:
    if i not in new_db:
        new_db.append(i)

print(new_db)

[1, 2, 3, 4]

In [12]:
# Write a Python function that takes two lists and returns True if they have at least one common member.
def commn_mem(list1,list2):
  for i in range(0,len(list1)):
    if list1[i] == list2[i]:
      print(f"elemnt {i} in list1 is equal to element {i} in list2")
  return print(f"elemnt {i} in list1 is equal to element {i} in list2")

l1= [1,2,3,4]
l2 = [2,4,6,7]
commn_mem(l1,l2)

elemnt 3 in list1 is equal to element 3 in list2

In [19]:
# Write a Python function that takes two lists and returns True if they have at least one common member.

def taktwo(l1,l2):
  empty_list = []
  for i in l1:
    for j in l2:
      if i == j:
        empty_list.append(i)
        return True, empty_list
  # return empty_list




l1 = [1,2,3,4]
l2 = [6,3,4,5]
taktwo(l1,l2)

(True, [3])

In [ ]:
def coomn_numb(lst1,lst2):
  for a in lst1:
    for b in lst2:
      if lst1[a] == lst2[b]:
        a = True
      return a

l1= [1,2,3,4]
l2 = [2,4,6,7]
coomn_numb(l1,l2)

1

In [27]:
# Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. Go to the editor
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']

a = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
b =a[1:4]
print(b)
# for item in a:
#   if item not in a[0:2:1]:
#     b.append(item)
# print(b)    
# for idx, value in enumerate(a):
#   # print(idx, value)
#   if idx not in (0,4,5):
#     print(idx)

['Green', 'White', 'Black']

In [34]:
# 3*4*6 
import numpy as np
a = np.array([3,4,6])


def fun1(lst1):
  empt_lst = []
  for item in lst1:
    if item % 2 != 0:
      empt_lst.append(item)
    
  return empt_lst  

lst1 = [2,2,3,4]   
fun1(lst1)

[3]

In [ ]:
# Write a Python program to print the numbers of a specified list after removing even numbers from it.
list1 = [1,2,4,6,3]
new_list =[]
for a in list1:
  if a % 2 != 0:
    new_list.append(a)
print(new_list)

[1, 3]

In [ ]:
#Write a Python function to find a list at a specific location.
list1 = [1,5,6,7]
largest = list1[0]
for num in list1:
  if  num > largest:
    largest = num
print(largest)

7

In [42]:
# lst1 = [2,4,5,8]
# # lst1[::-1]
# new_lst = []
# for i in range(len(lst1)-1,-1,1):
#   new_lst = new_lst + (lst1[i])
# print(new_lst)  


lst1 = [2,4,5,8]
new_lst = []
for i in range(len(lst1)-1, -1, -1):
  new_lst.append(lst1[i])
print(new_lst)

[8, 5, 4, 2]

In [ ]:
#Write a Python function to reverse a list at a specific location.
list1 = [1,5,6,7]
largest = list1[0]
for num in list1:
  if  num > largest:
    largest = num
print(largest)

In [ ]:
#write a code of even number generator'
def Even_num_GEN(num):
  empt_list=[]
  if num % 2 == 0:
    print("True")
    empt_list.append(num)
  return empt_list  

Even_num_GEN(2)

True

[2]

In [ ]:
#write a code of primr number generator'
def Even_num_GEN(num):
  empt_list=[]
  if num < 0:
    return False
  elif num == 1:
    return True  
  elif num % 2 == 0:
    return False 
  for i in range(3,int(num**0.5)+1,2):
    print(range(3,int(num**0.5)+1,2))
    if num % i == 0:
      return False

  return True  
        
  # empt_list.append(num)   
  # return empt_list  

Even_num_GEN(31)

range(3, 6, 2)
range(3, 6, 2)

True

In [50]:
# write a code for even number generator,
def even_num(num):
  new_list = []
  for i in range(2, num,2):
    if i% 2 == 0:
      new_list.append(i) 
  return new_list

lst = 13
even_num(lst)

[2, 4, 6, 8, 10, 12]

In [54]:
# write a code for odd number generator,
def even_num(num):
  new_list = []
  for i in range(1, num,2):
    if i%2 != 0:
      new_list.append(i) 
  return new_list

lst = 13
even_num(lst)

[1, 3, 5, 7, 9, 11]

In [48]:
#  factiorial

In [ ]:
# write a code for aven number generator, factiorial

def Odd_Gn(num):
  list1=[]
  for i in range(1, num+1, 2):
    # print(range(1, num+1, 2))
    # print(i)
    list1.append(i)
  return list1
    # if num % i != 0:
    #   return True
      

Odd_Gn(6)

[1, 3, 5]

In [ ]:
def Even(num):
  list2 = []
  for i in range(2,num+1,2):
    list2.append(i)

  return list2

Even(9)

[2, 4, 6, 8]

In [ ]:
n = int(input("Enter a positive integer: "))
even_numbers = range(2, n+1, 2)

print("Even numbers from 2 to", n, "are:")
for num in even_numbers:
    print(num)

Enter a positive integer: 13
Even numbers from 2 to 13 are:
2
4
6
8
10
12

In [ ]:
n = int(input("Enter a positive integer: "))
odd_numbers = range(1, n+1, 2)

print("Odd numbers from 1 to", n, "are:")
for num in odd_numbers:
    print(num)

Enter a positive integer: 13
Odd numbers from 1 to 13 are:
1
3
5
7
9
11
13

In [ ]:
# Write a code for n!
# 4!= 4x3x2x1
def factorial_num(n):
  factorial = 1
  for i in range(1,n+1):
    # print(i)
    a = factorial * i
    print("a",a)
    b = factorial * i
    print("b",b)
    c = factorial * i
    print("c",c)
    d = factorial * i
    print("d",d)
    a = (a*b*c*d)
  return a    
  




factorial_num(4)

a 1
b 1
c 1
d 1
a 2
b 2
c 2
d 2
a 3
b 3
c 3
d 3
a 4
b 4
c 4
d 4

256

In [ ]:
# Write a code for n!
def fact(n):
  fa=1
  while(n>1):
    fa = fa * n
    n = n -1
  return fa

fact(4)

24

In [57]:
# Extract the odd numbers
list1 = [1,3,4,6,7,8,9]
odd_list = []
for n in list1:
    if n %2!=0:
      odd_list.append(n)
odd_list

[1, 3, 7, 9]

In [58]:
# Extract the even numbers
list2 = [1,3,4,6,7,8,9]
odd_list = []
for n in list2:
    if n %2==0:
      odd_list.append(n)
odd_list

[4, 6, 8]

In [ ]:
# Write a Python program to count the number of characters (character frequency) in a string. Go to the editor
# Sample String : google.com'
# Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def char_count(string):
  char_dict={}
  for char in string:
    if char in char_dict: 
      char_dict[char]=char_dict[char]+1
    else:
      char_dict[char] = 1
  return char_dict


char_count("naveed")

{'n': 1, 'a': 1, 'v': 1, 'e': 2, 'd': 1}

In [63]:
def char_count(string):
  char_dict={}
  for char in string:
    if char in char_dict:
      char_dict[char] = char_dict[char] +1
    else:
      char_dict[char] = 1
  return char_dict   

char_count("naveeddd")

{'n': 1, 'a': 1, 'v': 1, 'e': 2, 'd': 3}

In [ ]:
def count_chars(string):
    char_frequency = {}
    for char in string:
        if char in char_frequency:
            char_frequency[char] += 1
        else:
            char_frequency[char] = 1
    return char_frequency

In [ ]:
# Write a program to obtain a sqrt of given number
from numpy import sqrt
def sqrt_num(a):
  return sqrt(a)

sqrt_num(9)

3.0

In [ ]:
# Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead. Go to the editor
# Sample String : 'w3resource'
# Expected Result : 'w3ce'
# Sample String : 'w3'
# Expected Result : 'w3w3'
# Sample String : ' w'
# Expected Result : Empty String

# a='w3resource'
# a[:2]+a[-2:]
def art(string):
  if len(string)<2:
    return ''
  else:
    return string[:2] +string[-2:]


print(art('w'))

In [ ]:
# Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. Go to the editor
# Sample String : 'restart'
# Expected Result : 'resta$t

In [ ]:
# Given a list of integer, write a function to return the maximum value.

def maxim_valu(l):
  max_value = l[0]
  for elmt in l:
    if elmt > max_value:
      max_value = elmt
  return max_value
  


l= [1,2,5,4]
maxim_valu(l)

5

In [ ]:
# Given a list of integer, write a function to return the manimum value.

def min_value(l):
  min_value = l[0]
  for elmt in l:
    if elmt < min_value:
      min_value = elmt
  return min_value    



l1= [9,15,30,6]
min_value(l1)

6

In [ ]:
palindrome_str= 'naveed'
print(palindrome_str[:-1]) 
print(palindrome_str[:1])


print(palindrome_str[-1:]) 
print(palindrome_str[1:])

navee
n
d
aveed

In [ ]:
# write a function to check if a given string is palindrome
# palindrome_str= 'nadeem'
# palindrome_str[::]

def pal_fun(string):
  if string == string[::-1]:
    return True
  else:
    return False  

palindrome_str= 'level'
pal_fun(palindrome_str)

True

In [ ]:
#write a function to check if a given number is prime or not.

def prime_check(a):
  if a < 1:
    return False
  elif a % 2 == 0:
    return False 
  else:
    for i in range(3,int(a**0.5),2):
      if a % i == 0:
        return False
  
    return True

a= 5
prime_check(a)

True

In [ ]:
# write a function to remove all duplicate from a list
# print(range(3,int(25**0.5),2))
# l=[1,1,2,2,3,4,5]
# l.count(1)
empty_list= []
def remove_dup(l):
  for elmt in l:
    if l.count(elmt)==1:
      empty_list.append(elmt)
  return empty_list

l = [1,1,2,3,4,4,5,5]
print(remove_dup(l))

[2, 3]

In [ ]:
# write a function to remove duplicate from a list

def remove_dup1(lst):
  new_list1=[]
  for item in lst:
    if item not in new_list1:
      new_list1.append(item)
      
  return new_list1   



lst = [1, 2, 3, 4, 3, 2, 1]
new_lst = remove_dup1(lst)
print(new_lst)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:

# Program to count the total number of characters in a string
a = "I am n"
count = 0
for indx in range(0,len(a)):
  if a[indx] !=" ":
    count = count+1
print(count)

4

In [ ]:
# Given a string, write a function to count the number of vowevels= (aeiou).

def count_vowevels(string):
  count=0
  for indx in range(0, len(string)):
    if string[indx] == 'a':
      count= count+1
    elif string[indx] == 'e':  
      count= count+1
    if string[indx] == 'i':
      count= count+1
    elif string[indx] == 'o':  
      count= count+1
    elif string[indx] == 'u':  
      count= count+1

  return count
a = "aeiouu"
print(count_vowevels(a))

6

In [ ]:
# Given a string, write a function to count the number of vowevels= (aeiou).

def count_vowevel(string):
  count=0
  vowevels = 'aeiou'
  for char in string:
    if char in vowevels:
      count = count +1
  return count


print(count_vowevel("aeibbb"))

3

In [ ]:
# write a function to check if a given list is sorted in non-decreasing order (increasing order)

def list_increas(lst):
  for indx in range(len(lst)-1):
    if lst[indx] < lst[indx+1]:
      return True
  return False


lst = [1,2,3,4]
list_increas(lst)

True

In [ ]:
# Given two strings, write a function to check if they are anagrams ("abcfu"="fubca")

def anagr(strng1, strng2):
  strng1 = strng1.lower()
  strng2 = strng2.lower()
  str1_chars = list(strng1)
  str2_chars = list(strng2)
  str1_chars = sorted(strng1)
  str2_chars = sorted(strng2)

  print(str1_chars,str2_chars)
  if str1_chars == str2_chars:
    return True
  else:
    return False       


strng1 = "level"
strng2 = "velleredonf"
anagr(strng1,strng2)

['e', 'e', 'l', 'l', 'v'] ['d', 'e', 'e', 'e', 'f', 'l', 'l', 'n', 'o', 'r', 'v']

False

In [ ]:
# write a function to calculate the factorial of a given number.

def factor1(a):
  fact = 1
  while a>0:
    fact = fact * a
    a= a-1
  return fact
  


#4!= 4x3x2x1
print(factor1(4))

24

In [65]:
# write a function to find the second largest number in a list

def second_largest_num(lst):
  largest=lst[0]
  scnd_largest = 0
  for item in lst:
    if item > largest:
      scnd_largest = largest
      largest = item


    elif item > scnd_largest:
      scnd_largest = item





  return scnd_largest


lst = [1,2,400,5,6,100,1000]
second_largest_num(lst)

400

In [ ]:
# Given a list of integers, write a function to find the sum of all even numbers

def sum_of_even(lst):
  count = 0
  for item in lst:
    if item % 2 == 0:
      count = count + item

  return count   




lst1 = [2,3,4,5,8,3,5]
sum_of_even(lst1)

14

In [ ]:
# write a function to find the median of a given list of numbers
# Median = {(n + 1) / 2}th value, where n is the number of values in a set of data.
a= [1,2,3,4,5]
a= sorted(a)
a.median(a)

AttributeError: ignored

In [ ]:
# a2b3c1= aaabbc
# def a_fun(string):
#   digit = 1
#   result= ''
#   for char in string:
#     if char.isdigit():
#       digit = int(char)
#     else:
#       result += char*digit  
#       return result

#   # return string

def a_fun(string):
  output = ""
  digit = 1
  for char in string:
    if char.isalpha():
      var = char
    else:
      output= output + int(char)*var
  return output


a_fun("a2b6")

'aabbbbbb'

In [ ]:
def ARG(*args):
  for arg in args:
    print(arg)

ARG(1,"jsdh",[1,2,3],(1,2),{"name":"naveed"})

1
jsdh
[1, 2, 3]
(1, 2)
{'name': 'naveed'}

In [ ]:
def ARG(**kwargs):
  for key, value in kwargs.items():
    print(key,value)

ARG(a=3,lst=[1,2,3],tp=(1,5),dct={"name":"naveed"})

a 3
lst [1, 2, 3]
tp (1, 5)
dct {'name': 'naveed'}

In [ ]:
import torch
import torch.nn as nn

import torch

def create_model(input_size, output_size, *args):
    layers = [input_size] + list(args) + [output_size]
    print(layers)
    modules = []
    for i in range(len(layers)-1):
        modules.append(torch.nn.Linear(layers[i], layers[i+1]))
        
        # modules.append(torch.nn.ReLU())
    print(modules)    
    model = torch.nn.Sequential(*modules)
    return model

model = create_model(784,10,64,32,16)
# print(model)

[784, 64, 32, 16, 10]
[Linear(in_features=784, out_features=64, bias=True), Linear(in_features=64, out_features=32, bias=True), Linear(in_features=32, out_features=16, bias=True), Linear(in_features=16, out_features=10, bias=True)]

In [25]:
import numpy as np

# Create a 2D array with shape (3, 4)
a = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12]])

# Slice the first two rows and the first three columns
b = a[:3,:4]
print(b)
a[:,0]
# a[1,2]
# Print the sliced array

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

array([1, 5, 9])

In [ ]:
Given a list of integers, write a function to find the longest increasing subsequence

In [ ]:
# write a function to check first non repeating character in a given string 

def non_repeat(string):
  for char in string:
    if char 



non_repeat('geeksforgeeks')

In [10]:
sssset = {1,2,3,4,58}
sssset = set(sssset)
sssset

{1, 2, 3, 4, 58}

In [14]:
fruits = {"apple", "banana", "orange", "kiwi", "pineapple",1,(1,2,4)}

# Print the set
print(fruits)

{1, 'kiwi', 'apple', 'banana', 'orange', 'pineapple', (1, 2, 4)}

In [15]:
lst1 = [1,1,2,2,3,4]
lst1=set(lst1)
lst1

{1, 2, 3, 4}

In [21]:
#Given a list of integers, write a function to find the pair of numbers that add up to a given target.

def find_pair(lst1,target):
  empty_list= []
  for i in range(len(lst1)):
    for j in range(i+1, len(lst1)):
      if lst1[i]+lst1[j] == target:
        empty_list.append((lst1[i],lst1[j]))
  return empty_list      



lst = [2, 7, 11, 15]
target = 9
result = find_pair(lst, target)
print(result)  # prints [2, 7]

[(2, 7)]

In [24]:
# Write a function to check if a given string contains only unique characters.
def uniq_string(string):
  for i in range(len(string)):
    for j in range(i+1, len(string)):
      if string[i] == string[j]:
        return False
  return True      


string = "avvvbcd"
uniq_string(string)

False

In [ ]:
# Given a list of integers, write a function to find the maximum sum of any contiguous subarray

In [26]:
# write a function to check if a given string is a palindrome

def check_palidrm(string):
  if string == string[::-1]:
    return True
  return False  


str1 = "levelr"
check_palidrm(str1)

False

In [66]:
# Given a list of integers, write a function to find the second smallest number

# def sec_small(lst1):
#   small = lst1[0]
#   scnd_smallest =1
#   for item in lst1:
#     if item < small:
#       scnd_smallest=small
#       small = item
#     elif item < scnd_smallest:
#       scnd_smallest=item 
#       return scnd_smallest    

# lst1 = [2,3,5,6]
# sec_small(lst1)  

def sec_small(lst1):
  small = lst1[0]
  scnd_smallest = float('inf')  # Initialize to infinity
  for item in lst1:
    if item < small:
      scnd_smallest = small
      small = item
    elif small < item < scnd_smallest:
      scnd_smallest = item 
  return scnd_smallest    

lst1 = [2, 3, 5, 6]
print(sec_small(lst1))  # Output: 3

2

In [45]:
# Write a function to count the number of words in a given string/list

def count_words(string):
  a = string.split( )
  # print(a)
  count = len(a) 
  return count 


string =" I am hapy hay"
count_words(string)

4

In [59]:
# Given a list of integers, write a function to find the maximum product of any three numbers 

def max_pro_three(lst1):
  lst1=sorted(lst1, reverse=True)
  print(lst1)
  fst = lst1[0]
  scnd = lst1[1]
  thrd = lst1[2] 
  # for 
  return fst *scnd * thrd
lst2 = [2,3,4,1,1,1]
print(max_pro_three(lst2))

[4, 3, 2, 1, 1, 1]
24

In [ ]:
Given a list of integers, write a function to find the largest sum of any two non-overlapping subarrays.

In [ ]:
write a function to check if a given string is a valid palindrome after removing one character

In [ ]:
Given a list of strings, write a function to find the longest commom prefix

In [ ]:
write a function to check if a given string is a valid IP address

In [ ]:
Given a list of integers, write a function to find the smallest positive integer that does not appear in the list.

In [ ]:
Given a list of integers and target sum, write a function to find all unique combinations of numbers that add up to target sum

In [ ]:
Given a string and a dictionary of words, write a function to find all possible word break combinations

In [ ]:
write a function to find longest palindromic substring in a given string.

In [64]:
# write a function take a string and reverse it
def reverse_str(strng):
  revers_st= ""
  for char in range(len(strng)-1,-1,-1):
    print(range(len(strng)-1,-1,-1))
    revers_st = revers_st + strng[char]
  return revers_st  



strng = "naveed"
reverse_str(strng)

range(5, -1, -1)
range(5, -1, -1)
range(5, -1, -1)
range(5, -1, -1)
range(5, -1, -1)
range(5, -1, -1)

'deevan'

In [ ]:
write a function that takes a list of integers and return two numbers that add up to a given target. if no such pair exist, return an empty list

In [ ]:
write a function that takes a list of integers and returns the length of the longest increasing subsequence.

In [68]:
# write a function that take two strings and returns whether or not they are anagrams (contain same letters in different order)

def anagr_fun(str1,str2):
  str1 = sorted(str1)
  str2 = sorted(str2)
  if str1 == str2:
    return True
  return False  



str1 = "abcd"
str2= "dcbaqgf"
anagr_fun(str1,str2)

False

In [ ]:
def fibonacci(n):
    # Define the initial values of the sequence
    a, b = 0, 1

    # Loop until n values of the sequence have been generated
    for i in range(n):
        # Yield the current value of the sequence
        yield a
        # Calculate the next value of the sequence
        a, b = b, a + b

# Example usage
for number in fibonacci(10):
    print(number)

In [ ]:
write a function that takes a list of intervals and merges overlapping intervals.